:root {
    --activeBackgroundColor: white;
    --activeBorderColor: lightgrey;
    --activeFooterBackgroundColor: white;
    --activeNavBarBackgroundColor: white;
    --activeCardBackgroundColor: white;
    --activeButtonBackgroundColor: white;
    --activeInputBackgroundColor: white;

    --activeTextColor: grey;
    --activeLinkColor: dimgrey;
    --activeLinkHoverColor: lightgrey;
    --activeInputTextColor: grey;
    --activeInputPlaceholderTextColor: lightgrey;
    --activeCheckedColor: green;

    --activeIconColor: grey;
    --activeEditIconColor: yellow;
    --activeDeleteIconColor: red;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
}

.custom-control-label {
    cursor: pointer;
}

.custom-control-label::before {
    background-color: var(--activeBackgroundColor) !important;
    border-color: var(--activeBorderColor) !important;
}

.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
    border-color: var(--activeBorderColor);
    background-color: transparent;
}

.custom-control-input:focus ~ .custom-control-label::before,
.custom-control-input:focus:not(:checked) ~ .custom-control-label::before,
.custom-control-input.is-invalid ~ .custom-control-label::before,
.was-validated .custom-control-input:invalid ~ .custom-control-label::before {
    border-color: var(--activeBorderColor);
    box-shadow: none !important;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus .btn-primary.focus,
.btn-primary:focus,
.custom-control-input.is-invalid:focus ~ .custom-control-label::before,
.was-validated .custom-control-input:invalid:focus ~ .custom-control-label::before,
.form-control.is-invalid:focus,
.was-validated .form-control:invalid:focus,
.form-control.is-valid:focus,
.was-validated .form-control:valid:focus {
    box-shadow: none;
}

.custom-control-input.is-valid ~ .custom-control-label::before,
.was-validated .custom-control-input:valid ~ .custom-control-label::before .custom-control-input.is-invalid:focus:not(:checked) ~ .custom-control-label::before,
.was-validated .custom-control-input:invalid:focus:not(:checked) ~ .custom-control-label::before {
    border-color: var(--activeBorderColor) !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
    background-color: var(--activeCheckedColor) !important;
    border-color: var(--activeBorderColor) !important;
    box-shadow: none !important;
}

.border,
.input-group-text,
.input-group-text:focus {
    border: 1px solid var(--activeBorderColor) !important;
    background-color: var(--activeButtonBackgroundColor);
}

.custom-switch .custom-control-label::after,
.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
    background-color: var(--activeBorderColor);
}

body {
    background-color: var(--activeBackgroundColor);
    color: var(--activeTextColor);
}

.icon-delete {
    color: var(--activeDeleteIconColor);
}

.icon-edit {
    color: var(--activeEditIconColor);
}

.icon {
    color: var(--activeIconColor) !important;
}

.custom-control-input.is-valid ~ .custom-control-label,
.was-validated .custom-control-input:valid ~ .custom-control-label .nav-link,
.navbar-brand,
.dropdown-toggle,
.dropdown-item,
.custom-control-label {
    color: var(--activeTextColor) !important;
}

.btn-primary:not(:disabled),
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
    background-color: var(--activeButtonBackgroundColor);
    color: var(--activeTextColor);
    border-color: var(--activeBorderColor);
}

hr {
    border-top: 1px solid var(--activeBorderColor);
}

.form-control::placeholder {
    color: var(--activeInputPlaceholderTextColor);
}

.form-control,
.form-control:focus {
    background-color: var(--activeInputBackgroundColor);
    color: var(--activeInputTextColor);
}

.arrow::before {
    border-bottom-color: var(--activeBorderColor) !important;
}

.arrow::after {
    border-bottom-color: var(--activeCardBackgroundColor) !important;
}

.dropdown-menu,
.popover {
    border: 1px solid var(--activeBorderColor);
}

.popover-header::before {
    border-bottom: none !important;
}

.dropdown-menu {
    background-color: var(--activeCardBackgroundColor);
}

.card-header {
    background-color: var(--activeCardBackgroundColor);
}

.card,
.card-footer,
.popover-header,
.popover-body,
.modal-content {
    background-color: var(--activeCardBackgroundColor);
    color: var(--activeTextColor);
}

.modal-header,
.popover-header,
.card-header {
    border-bottom: 1px solid var(--activeBorderColor);
}

.dropdown-divider,
.modal-footer,
.card-footer {
    border-top: 1px solid var(--activeBorderColor);
}

.dropdown-toggle::after {
    display: none !important; /* Removes Caret */
}

.border-top {
    border-top: 1px solid var(--activeBorderColor) !important;
}

.navbar-avatar {
    border: 1px solid var(--activeBorderColor);
    border-radius: 50%;
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    transition: transform 0.6s;
}

.navbar-avatar:hover {
    transform: scale(1.15);
}

.card-avatar {
    border: 1px solid var(--activeBorderColor);
    border-radius: 50%;
    object-fit: cover;
    height: 8rem;
    width: 8rem;
    transition: transform 0.6s;
}

.card-avatar:hover {
    transform: scale(1.06);
}

.blog-avatar {
    border: 1px solid var(--activeBorderColor);
    border-radius: 50%;
    object-fit: cover;
    height: 1.35rem;
    width: 1.35rem;
    transition: transform 0.6s;
}

.card-body {
    padding: 1rem;
}

.card,
.card-border,
.card-border:focus {
    border: 1px solid var(--activeBorderColor) !important;
}

.card-border-bottom,
.card-border-bottom:focus {
    border-bottom: 1px solid var(--activeBorderColor) !important;
}

.card-border-top,
.card-border-top:focus {
    border-top: 1px solid var(--activeBorderColor) !important;
}

.card-border-left,
.card-border-left:focus {
    border-left: 1px solid var(--activeBorderColor) !important;
}

.card-border-right,
.card-border-right:focus {
    border-right: 1px solid var(--activeBorderColor) !important;
}

.home-avatar {
    border: 1px solid var(--activeBorderColor);
    border-radius: 50%;
    object-fit: cover;
    height: 16rem;
    width: 16rem;
}

.friend-avatar {
    border: 1px solid var(--activeBorderColor);
    border-radius: 50%;
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    transition: transform 0.6s;
}

.friend-avatar:hover {
    transform: scale(1.15);
}

.bg-dim {
    background-color: lightgrey;
}

.bg-pink {
    background-color: #ffeeee;
}

.bg-yellow {
    background-color: #ffeecc;
}

.text-end {
    text-align: end !important;
}

.text-dim,
.text-dim:hover {
    color: dimgray;
    cursor: default;
}

.cursor-text,
.cursor-text:hover {
    cursor: text;
}

.cursor-pointer,
.cursor-pointer:hover {
    cursor: pointer;
}

.border-left-danger {
    border-left: 1px solid #dc3545 !important;
}

.border-right-danger {
    border-right: 1px solid #dc3545 !important;
}

.border-left-warning {
    border-left: 1px solid #ffc107 !important;
}

.border-right-warning {
    border-right: 1px solid #ffc107 !important;
}

.spinner {
    border-width: 1px;
}

.no-active-outline,
.no-active-outline:focus,
.no-active-outline:hover {
    box-shadow: none !important;
}

.no-border,
.no-border:hover,
.no-border:focus {
    border: none !important;
}

/* FOOTER */
.footer {
    background-color: var(--activeFooterBackgroundColor);
}

.navigation {
    background-color: var(--activeNavBarBackgroundColor);
}

.link {
    text-decoration: none;
    color: var(--activeLinkColor);
}

.link:hover {
    text-decoration: none;
    color: var(--activeLinkHoverColor);
}

.center {
    position: relative;
    left: 50%;
    top: 100%;
    -webkit-transform: translate(-50%, 22.5%);
    transform: translate(-50%, 22.5%);
}

.center-horizontal {
    position: relative;
    left: 50%;
    top: 100%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
}

#userNav {
    padding: 0;
}
